<li>
	{{name}}

	<button class="change-eatNow" data-id="{{id}}" data-eatNow="{{eatNow}}">
		{{#if eatNow}}Order Another!{{else}}Eat it now{{/if}}
	</button>

	<button class="eaten-burger" data-id="{{this.id}}">
		{{#if eatNow}}Throw trash out{{else}}Throw it in the Trash{{/if}}
	</button>
</li>
